@model AssignToMonth.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<div class="customer-top-bar">
    <i class="fas fa-user-tie"></i>
    <h1>Kund/Ta bort</h1>
</div>

<div>
    <h4>Kund</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Ta bort" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
